/* .banner-bg{
background-image: url("https://img.freepik.com/premium-photo/happy-volunteer-family-separating-donations-stuffs_13339-224411.jpg?w=740");

background-repeat: no-repeat;
background-size: 100% 100%;
opacity: 0.2;

} */

